<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Post</title>
</head>

<body>
	<h2>Add Post</h2>

	<form action="/post" th:object="${post}" method="post" onsubmit="saveImage(); return false;">

		<label for="content">Nội dung:</label>
		
		<input type="text" id="content" name="content" rows="4" cols="50" th:field="*{content}" required>

		<br />
		<div id="imageContainer"></div>
		<label for="image">Chọn ảnh:</label>	
		<input type="file" id="file" name="file" accept="image/*" required>
		<br />

		<input type="submit" value="Đăng bài" />
	</form>

	<a th:href="@{/listpost}"><button>Back to List</button></a>




	<script type="module">
		// Import the functions you need from the SDKs you need
		import {initializeApp} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
		import {getStorage, ref, uploadBytes, getDownloadURL} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-storage.js";

		const firebaseConfig = {
			key: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
			apiKey: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
			authDomain: "chatrealtime-7e7e8.firebaseapp.com",
			databaseURL: "https://chatrealtime-7e7e8-default-rtdb.firebaseio.com",
			projectId: "chatrealtime-7e7e8",
			storageBucket: "chatrealtime-7e7e8.appspot.com",
			messagingSenderId: "206925157542",
			appId: "1:206925157542:web:7e254501d41af820ed9067",
			measurementId: "G-0PDLXSS9SN",
		};

		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const storage = getStorage();

		// Add event listener for file input change
		const fileInput = document.getElementById("file");
		const imageContainer = document.getElementById("imageContainer");

		fileInput.addEventListener("change", async () => {
			const file = fileInput.files[0];

			// Check if a file is selected
			if (file) {
				// Upload the selected file to Firebase Storage
				const storageRef = ref(storage, file.name);
				try {
					const snapshot = await uploadBytes(storageRef, file);

					console.log("Uploaded:", snapshot.totalBytes);

					// Get the download URL of the uploaded image
					const downloadURL = await getDownloadURL(storageRef);

					// Display the image on the page
					imageContainer.innerHTML = `<img src="${downloadURL}" alt="Uploaded Image" id = "urlImage">`;

					alert('Successfully uploaded to Firebase Storage!');
				} catch (error) {
					console.error('Error uploading to Firebase Storage:', error);
					alert('Error uploading to Firebase Storage. Please try again.');
				}
			} else {
				alert('No file selected.');
			}
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
		function saveImage() {

			const image = document.getElementById("urlImage");
			const imageURL = image.src;
			const tagContent = document.getElementById("content");
			const content = tagContent.value;

			try {
				$.ajax({
					type: 'POST',
					url: "/post",
					data: JSON.stringify({ "imageURL": imageURL, "content": content }), //Ép kiểu string để tránh bị đôir / thành %
					contentType: 'application/json',
					success: function () {
						alert('Save successfully');
					},
					error: function () {
						alert('Error save image');
					}
				});
			} catch (error) {
				console.error('Error uploading to Firebase Storage:', error);
			}

		}
	</script>
</body>

</html>